.card {
  box-shadow: 0 0 5px rgba(33,33,33,.2);
  transition-duration: 0.5s;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
  transition-duration: 0.5s;
}

.user-link {
  cursor: pointer;
}
