<p *ngIf="successAlert">
  <ngb-alert [type]="'success'" (closed)="closeAlert()">Request successfully created.</ngb-alert>
</p>

<h4 class="display-4">Create a new request!</h4>

<form id="request-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>
    <div class="form-group">
      <label class="control-label" for="name">Add a description for your request:</label>
      <input id="name" name="name" type="text" class="form-control" required
             [(ngModel)]="request.description">
    </div>
    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right"
              [disabled]="!form.form.valid">Submit</button>
    </div>
  </fieldset>
</form>


