<app-provider-search (emitResults)="detail($event)"></app-provider-search>

<div class="card mb-1" *ngFor="let provider of providers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Username</h6>
        <a class="card-text" [routerLink]="['/providers', provider.id]">{{provider.id}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">E-mail</h6>
        <p class="card-text">{{provider.email}}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalProviders"></ngb-pagination>
